.content {
  display: flex;
  flex-direction: row;

  align-items: center;
  justify-content: space-evenly;

  height: calc(100vh - 80px);

  background-color: #e0e0e0;
}

.content img {
  height: 100%;
  width: auto;
}

.form {
  display: flex;
  flex-direction: column;

  justify-content: center;

  width: 30%;
  height: max-content;

  box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.2);
  border-radius: 8px;

  background-color: #fff;
}

.form h1 {
  margin: 3% 0;
  margin-left: 5%;
  font-size: 2rem;
}
