.contentDetailAsset {
  height: calc(100vh - 80px);
  background-color: var(--color-background-white);

  display: flex;
  flex-direction: row;
}

.contentDetailAsset img {
  width: 50%;
  height: 100%;
  object-fit: cover;
}

.description {
  padding: 0 10px;
}

@media (max-width: 1000px) {
  .contentDetailAsset {
    flex-direction: column;
    overflow-y: auto;
  }

  .contentDetailAsset img {
    width: 100%;
    height: auto;
    margin: 0 auto;
    margin-bottom: 10px;
  }
}
