:root {
  --color-primary: #1e3a8a;
  --color-secondary: #004dea;
  --color-text-white: #fff;
  --color-text-black: #1f2937;
  --color-button: #1bb553;
  --color-button-hover: #1dc159;
  --color-warning: #ff9a1f;
  --color-problem: #ff2020;

  overflow: hidden;
}

h1,
h2,
p {
  margin: 0;
}

.header {
  background: linear-gradient(
    to right,
    var(--color-primary),
    var(--color-secondary)
  );

  display: flex;
  height: 80px;
  align-items: center;
  justify-content: space-between;
}

.rightContentHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.rightContentHeader h2 {
  color: var(--color-text-white);
  font-weight: bold;
  margin-right: 2rem;
}

.header img {
  height: 30%;
  width: auto;
}
