.content {
  height: calc(100vh - 80px);
  background-color: var(--color-background-white);
}

.content div {
  height: 100%;
}

.contentLeft {
  display: flex;
  flex-direction: column;

  height: 100%;
  width: 15%;
  padding: 10px 0;
}

.contentLeft-mobile {
  display: none;
  position: fixed;
  z-index: 20;

  top: 70px;
  width: 100%;
}

.buttonContentLeft-mobile {
  display: none;

  align-items: center;
  justify-content: center;

  position: fixed;
  top: 15px;
  left: 15px;
  width: 50px;
  height: 50px;
}

.buttonContentLeft-mobile svg {
  height: auto;
  width: 20px;
  color: white;
}

.userDescription {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  width: 85%;
  margin: 0 auto;
  height: max-content;
  padding: 5px 0;
}

.userDescription h1,
.userDescription p {
  color: var(--color-text-white);
}

.topContentLeft {
  display: flex;
  flex-direction: column;
  max-height: 95%;
}

@media (max-width: 1000px) {
  .contentLeft {
    display: none;
  }
  .contentLeft-mobile {
    display: flex;
    flex-direction: column;
  }
  .buttonContentLeft-mobile {
    display: flex;
  }
}
